.bonadocs__search {
  font-family: "Satoshi-Regular", sans-serif;
  display: flex;
  width: 100%;
  background-color: var(--bonadocsProtocolBackground);
  &__sidebar {
    width: 15%;
    height: 100vh;
    
    padding: 1.6rem 2.4rem;
    background-image: url('https://res.cloudinary.com/dfkuxnesz/image/upload/v1703139844/Container-im_b7daxq.svg');
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (max-height: 600px), 
       screen and (max-width: 600px) {
      min-height: 200rem;
    }
    &__logo {
      margin-bottom: 6.4rem;
    }
    &__title {
      font-size: 2rem;
      font-weight: 700;
      line-height: 3.2rem;
      color: var(--bonadocsProtocolPrimaryText);
    }
    &__description {
      line-height: 2.4rem;
      color: var(--bonadocsProtocolSecondaryText);
      font-size: 1.3rem;
    }
  }
}

