.bonadocs__search {
  display: flex;
  width: 100%;
  background-color: var(--bonadocsProtocolBackground);
  min-height: 100vh;
  overflow-y: auto;
  
  @media screen and (max-height: 600px), screen and (max-width: 600px) {
    // height: 95rem;
  }
  // @media screen and (max-height: 1200px), screen and (max-width: 1200px) {
  //   height: auto;
  //   min-height: min-content;
  // }
  @media screen and (min-width: 1200px) {
    height: auto;
    // min-height: 100vh;
  }

  &__sidebar {
    width: 15%;

    padding: 1.6rem 2.4rem;
    background-image: url("https://res.cloudinary.com/dfkuxnesz/image/upload/v1703139844/Container-im_b7daxq.svg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 30rem;
    @media screen and (max-width: 1500px) {
      width: 16%;
    }
    @media screen and (max-width: 900px) {
      display: none;
    }

    &__logo {
      margin-bottom: 6.4rem;
      width: 18rem;
      @media screen and (max-width: 1200px) {
        width: 12rem;
      }
    }
    &__title {
      font-size: 2rem;
      font-weight: 700;
      line-height: 3.2rem;
      color: var(--bonadocsProtocolPrimaryText);
    }
    &__description {
      line-height: 2.4rem;
      color: var(--bonadocsProtocolSecondaryText);
      font-size: 1.3rem;
    }
  }
  &__registry {
    flex: 1;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    &__header {
      background-color: var(--bonadocsProtocolSecondaryBackground);
      padding: 1.2rem;
      width: 100%;
      display: flex;
      height: min-content;
      &__input {
        width: 50%;
        height: min-content;

        border-radius: 0.4rem;
        font-size: 1.3rem;
        background-color: var(--bonadocsProtocolBackground);
        color: var(--bonadocsProtocolPrimaryText);
        font-size: 1.6rem;
        background-image: url("https://res.cloudinary.com/dfkuxnesz/image/upload/v1703225363/Search_Bonadocs_Search_Icon_zqz5ro.svg");
        background-position: 1rem 1rem;
        padding: 1.2rem 0.8rem 1.2rem 4rem;
        background-repeat: no-repeat;

        &::placeholder {
          color: var(--bonadocsProtocolSecondaryText);
        }
      }
      &__button {
        padding: 0.4rem 0.8rem;
        border-radius: 2.4rem !important;
        margin-left: auto;
        display: flex;
        align-items: center;
        border-radius: 0.4rem;
        background-color: var(--bonadocsProtocolBackground);
        color: var(--bonadocsProtocolPrimaryText);
        font-size: 1.4rem;
        &::placeholder {
          color: var(--bonadocsProtocolSecondaryText);
        }
      }
    }
    &__content {
      padding: 3.2rem 2.4rem;
      &__options {
        display: inline-flex;
        gap: 1.2rem;
      }
      &__pagination {
        margin-top: auto;
        display: flex;
        justify-content: center;

        &__item {
          padding: 0.8rem 1.2rem;
          border-radius: 10rem;
          background-color: var(--bonadocsProtocolBackground);
          color: var(--bonadocsProtocolPrimaryText);
          font-size: 1.3rem;
          margin-right: 0.8rem;
          cursor: pointer;
          &__active {
            background-color: var(--bonadocsProtocolBlue);
            color: var(--bonadocsProtocolSecondaryBackground);
          }
        }
      }
      &__title {
        font-size: 1.3rem;
        font-weight: 700;
        line-height: 2.4rem;
        color: var(--bonadocsProtocolPrimaryText);
        margin-top: 2.4rem;
        margin-bottom: 0.8rem;
      }
      &__select {
        border: 1px solid var(--bonadocsProtocolBorder);
        background: transparent;
        width: min-content;
        color: var(--bonadocsProtocolPrimaryText);
        padding: 0.8rem 2.4rem 0.8rem 1.6rem;
        border-radius: 10rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        background-image: url("https://res.cloudinary.com/dfkuxnesz/image/upload/v1703342137/Project_Details_Container_zndbzp.svg");
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: 50%;
      }
      &__list {
        display: grid;
        gap: 1.6rem;
        grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
        height: min-content;
        max-height: 64vh;
        overflow-y: auto;
        @media screen and (max-height: 600px), screen and (max-width: 600px) {
           max-height: 67vh;
        }
        &__item {
          align-items: center;
          border-radius: 0.8rem;
          // min-height: min-content;
          padding: 1.6rem;
          border: 1px solid var(--bonadocsProtocolBorder);
          cursor: pointer;
          height: 14rem;
          &:hover {
            background-image: url("https://res.cloudinary.com/dfkuxnesz/image/upload/v1703355677/Gradient_xqretc.svg");
            background-repeat: no-repeat;
            background-size: cover;
          }
          &__icon {
            margin-right: 0.4rem;
          }
          &__text {
            font-size: 1.3rem;
            font-weight: 700;
            line-height: 2.4rem;
            color: var(--bonadocsProtocolPrimaryText);
          }
          &__id {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 2.4rem;
            color: var(--bonadocsProtocolSecondaryText);
          }
          &__tag {
            font-size: 1.3rem;
            margin-right: 0.9rem;
          }
          div {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
  &__overlay {
    position: fixed;
    height: 100%;
    background-color: var(--bonadocsProtocolOverlay);
    bottom: 0;
    right: 0;
    width: 50%;
    min-height: min-content;
    &__blur {
      position: fixed;
      height: 100vh;
      background-color: #b8c8ff;
      opacity: 0.4;
      bottom: 0;
      left: 0;
      width: 50%;
      @media screen and (max-width: 900px) {
        height: 40vh;
        background-color: #b8c8ff;
        opacity: 0.3;
        top: 0;
        width: 100%;
      }
    }
    &__wrapper {
      position: relative;
      overflow: auto;
      height: 100%;
      padding: 2.4rem;
      &__resources {
        color: var(--bonadocsProtocolBlue);
        text-decoration: underline;
        font-size: 1.3rem;
        line-height: 2.4rem;
        margin-top: 0.2rem;
      }
      &__content {
        color: var(--bonadocsProtocolSecondaryText);
        font-size: 1.3rem;
        line-height: 2.4rem;
        margin-top: 0.2rem;
      }
      &__subheader {
        margin-top: 4rem;
        font-size: 2rem;
      }
      &__header {
        display: flex;
        width: 100%;
        margin-top: 2.4rem;
        &__tag {
          font-size: 1.3rem;
          display: flex;
          &__name {
            margin-right: 0.4rem;
          }
        }
        &__title {
          font-size: 2rem;
          line-height: 3.2rem;
          font-weight: 700;
        }
        &__logo {
          border: 1px solid var(--bonadocsProtocolBorder);
          border-radius: 50%;
          margin-right: 0.8rem;
        }
      }
      &__button {
        background-color: transparent;
        cursor: pointer;
        border: 1px solid var(--bonadocsProtocolBorder);
        padding: 0.8rem 1.2rem;
        border-radius: 10rem;
        color: var(--bonadocsProtocolSecondaryText);
        display: flex;
        align-items: center;
        &__icon {
          margin-right: 0.8rem;
        }
        &__action {
          background-color: var(--bonadocsProtocolBlue);
          padding: 0.8rem 1.2rem;
          border-radius: 10rem;
          color: var(--bonadocsProtocolSecondaryBackground);
          display: flex;
          align-items: center;
          margin-left: auto;
          @media screen and (max-width: 600px) {
            height: min-content;
            wrap: nowrap;
          }
        }
      }
    }
    @media screen and (max-width: 900px) {
      height: 60vh;
      bottom: 0;
      width: 100%;
    }
  }
}

.bonadocs__form {
  /* This bit sets up the horizontal layout */
  display: flex;
  flex-direction: row;
  width: 50%;
  
  /* I've used padding so you can see the edges of the elements. */
  padding: 1px;
  @media screen and (max-width: 600px) {
    width: 80%;
  }
}

input {
  /* Tell the input to use all the available space */
  flex-grow: 2;
  /* And hide the input's outline, so the form looks like the outline */
  border: none;
}

/* remove the input focus blue box, it will be in the wrong place. */
input:focus {
  outline: none;
}

/* Add the focus effect to the form so it contains the button */
.bonadocs__form:focus-within {
  outline: 1px solid var(--bonadocsProtocolBlue);
}

.bonadocs__form__button {
  /* Just a little styling to make it pretty */
  background: var(--bonadocsProtocolBlue);
  padding: 0.8rem 1.2rem;
  cursor: pointer;
}
